* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.type {
  word-wrap: normal;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  height: auto;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  white-space: normal;
  word-break: break-all;
}

.ant-select-item-option-content {
  white-space: break-spaces;
  word-break: break-word;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.gioBay {
  font-size: 26px;
  font-weight: bold;
  color: #0f1e7d;
}

/* @media screen and (max-width: 46.1875em) {
  .gioBay {
    font-size: 20px;
    font-weight: bold;
    color: #0f1e7d;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0f1e7d;
}

.timePicker {
  width: 100%;
}

.rowBackgroundColor {
  background-color: #fbfbfb;
}

.footer {
  font-style: italic;
  font-size: 12px;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
